
<div *ngIf="costo">
    <h2><span>Costo</span> {{costo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Codigo</span></dt>
        <dd>
            <span>{{costo.codigo}}</span>
        </dd>
        <dt><span>Servicio</span></dt>
        <dd>
            <span>{{costo.servicio}}</span>
        </dd>
        <dt><span>Cuota</span></dt>
        <dd>
            <span>{{costo.cuota}}</span>
        </dd>
        <dt><span>Costos</span></dt>
        <dd>
            <div *ngIf="costo.costosId">
                <a [routerLink]="['/servicio-my-suffix', costo.costosId]">{{costo.costosId}}</a>
            </div>
        </dd>
        <dt><span>Costos</span></dt>
        <dd>
            <div *ngIf="costo.costosId">
                <a [routerLink]="['/sector-my-suffix', costo.costosId]">{{costo.costosId}}</a>
            </div>
        </dd>
        <dt><span>Costos</span></dt>
        <dd>
            <div *ngIf="costo.costosId">
                <a [routerLink]="['/clasificacion-my-suffix', costo.costosId]">{{costo.costosId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'costo-my-suffix/'+ costo.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
