
<div *ngIf="medidor">
    <h2><span>Medidor</span> {{medidor.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Codigo</span></dt>
        <dd>
            <span>{{medidor.codigo}}</span>
        </dd>
        <dt><span>Numeromedidor</span></dt>
        <dd>
            <span>{{medidor.numeromedidor}}</span>
        </dd>
        <dt><span>Fechaobtuvo</span></dt>
        <dd>
            <span>{{medidor.fechaobtuvo | date:'medium'}}</span>
        </dd>
        <dt><span>Fecha</span></dt>
        <dd>
            <span>{{medidor.fecha | date:'medium'}}</span>
        </dd>
        <dt><span>Medidores</span></dt>
        <dd>
            <div *ngIf="medidor.medidoresId">
                <a [routerLink]="['/usuario-my-suffix', medidor.medidoresId]">{{medidor.medidoresId}}</a>
            </div>
        </dd>
        <dt><span>Medidores</span></dt>
        <dd>
            <div *ngIf="medidor.medidoresId">
                <a [routerLink]="['/sector-my-suffix', medidor.medidoresId]">{{medidor.medidoresId}}</a>
            </div>
        </dd>
        <dt><span>Medidores</span></dt>
        <dd>
            <div *ngIf="medidor.medidoresId">
                <a [routerLink]="['/clasificacion-my-suffix', medidor.medidoresId]">{{medidor.medidoresId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'medidor-my-suffix/'+ medidor.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
