
<div *ngIf="costoMedidor">
    <h2><span>Costo Medidor</span> {{costoMedidor.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Codigo</span></dt>
        <dd>
            <span>{{costoMedidor.codigo}}</span>
        </dd>
        <dt><span>Fecha</span></dt>
        <dd>
            <span>{{costoMedidor.fecha | date:'medium'}}</span>
        </dd>
        <dt><span>Estado</span></dt>
        <dd>
            <span>{{costoMedidor.estado}}</span>
        </dd>
        <dt><span>Costos Medidor</span></dt>
        <dd>
            <div *ngIf="costoMedidor.costosMedidorId">
                <a [routerLink]="['/costo-my-suffix', costoMedidor.costosMedidorId]">{{costoMedidor.costosMedidorId}}</a>
            </div>
        </dd>
        <dt><span>Costos Medidores</span></dt>
        <dd>
            <div *ngIf="costoMedidor.costosMedidoresId">
                <a [routerLink]="['/medidor-my-suffix', costoMedidor.costosMedidoresId]">{{costoMedidor.costosMedidoresId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'costo-medidor-my-suffix/'+ costoMedidor.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
